<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head th:replace="~{fragments/menu.html :: header( title = 'Dispositivos')}"></head>
    <body>
        <div class="container">
            <nav th:replace="~{fragments/menu.html :: menu( active = 'Dispositivos')}"></nav>
            <h2>Inventario de Dispositivos</h2>
            <a class="btn btn-primary mt-4 mb-4" th:href="@{'/admin/new'}">Agregar Dispositivos</a>
            <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Cantidad</th>
                        <th>Disponibles</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="dispositivo: ${listaDispositivos}">
                        <td th:text="${dispositivo.idDispositivos}"></td>
                        <td th:text="${dispositivo.nombre}"></td>
                        <td th:text="${dispositivo.cantidad}"></td>
                        <td th:text="${dispositivo.disponible}"></td>
                        <td><a sec:authorize="hasAnyAuthority('admin')"  class="btn btn-primary" th:href="@{'/admin/edit' + '?id=' + ${dispositivo.idDispositivos}}">Editar</a>

                        <a sec:authorize="hasAnyAuthority('admin')" class="btn btn-danger" th:href="@{'/admin/delete' + '?id=' + ${dispositivo.idDispositivos}}">Borrar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
